<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('styles') }}
        {% endblock %}


    </head>
    <body>
        {% block body %}
            <p> Je suis bien sur la page principale de mon application</p>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('scripts') }}
        {% endblock %}
    </body>
</html>
